<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>IS_2 - Anonymous Message Board</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- ✅ Enlace al CSS -->
  <link rel="stylesheet" href="/public/style.css">
</head>
<body>
  <header>
    <h1>IS_2 - Anonymous Message Board</h1>
  </header>

  <h2>
    <a href="/b/general/">Go to testing <i>'/b/general/'</i> board</a>
  </h2>
  <hr style="margin: 20px 0;" />

  <h2>API Tests:</h2>

  <h3>New thread (POST /api/threads/:board)</h3>
  <form action="/api/threads/test" method="post">
    <input type="text" placeholder="board" name="board" value="general"><br>
    <textarea type="text" placeholder="Thread text..." name="text"></textarea><br>
    <input type="text" placeholder="password to delete" name="delete_password"><br>
    <input type="submit" value="Submit">
  </form>

  <h3>Report thread (PUT /api/threads/:board)</h3>
  <form action="/api/threads/test?_method=PUT" method="post">
    <input type="text" placeholder="board" name="board" value="general"><br>
    <input type="text" placeholder="id to report" name="thread_id"><br>
    <input type="submit" value="Submit">
  </form>

  <h3>Delete thread (DELETE /api/threads/:board)</h3>
  <form action="/api/threads/test?_method=DELETE" method="post">
    <input type="text" placeholder="board" name="board" value="general"><br>
    <input type="text" placeholder="id to delete" name="thread_id"><br>
    <input type="text" placeholder="password" name="delete_password"><br>
    <input type="submit" value="Submit">
  </form>

  <h3>New reply (POST /api/replies/:board)</h3>
  <form action="/api/replies/test" method="post">
    <input type="text" placeholder="board" name="board" value="general"><br>
    <input type="text" placeholder="thread id" name="thread_id"><br>
    <textarea type="text" placeholder="Thread text..." name="text"></textarea><br>
    <input type="text" placeholder="password to delete" name="delete_password"><br>
    <input type="submit" value="Submit">
  </form>

  <h3>Report reply (PUT /api/replies/:board)</h3>
  <form action="/api/replies/test?_method=PUT" method="post">
    <input type="text" placeholder="board" name="board" value="general"><br>
    <input type="text" placeholder="thread id" name="thread_id"><br>
    <input type="text" placeholder="id to report" name="reply_id"><br>
    <input type="submit" value="Submit">
  </form>

  <h3>Delete reply (DELETE /api/replies/:board)</h3>
  <form action="/api/replies/test?_method=DELETE" method="post">
    <input type="text" placeholder="board" name="board" value="general"><br>
    <input type="text" placeholder="thread id" name="thread_id"><br>
    <input type="text" placeholder="id to delete" name="reply_id"><br>
    <input type="text" placeholder="password" name="delete_password"><br>
    <input type="submit" value="Submit">
  </form>
</body>
</html>
